#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div class='row-fluid'>
    <div class='span12 box bordered-box purple-border' style='margin-bottom:0;'>
        <div class='box-header sea-blue-background'>
            <div class='title'>&{'online.list'}</div>
            #{crud.search /}
        </div>
        <div class='box-content box-no-padding'>
        #{crud.table fields:['username','accesstoken','logintime']}
        	#{crud.custom 'online'}
        		<a href="@{Onlines.show(object.id)}">${object.resource}</a>
        	#{/crud.custom}
        #{/crud.table}
        </div>
        #{crud.pagination /}
    </div>
</div>
