#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div class='row-fluid'>
    <div class='span12 box bordered-box purple-border' style='margin-bottom:0;'>
        <div class='box-header sea-blue-background'>
            <div class='title'>&{'user.list'}</div>
            #{crud.search /}
        </div>
        <div class='box-content box-no-padding'>
        #{crud.table fields:['email','username','fullname','address','status','isAdmin','registerDate','lastLoginDate','roles']}
        	#{crud.custom 'email'}
        		<a href="@{Users.show(object.id)}">${object.email}</a>
        	#{/crud.custom}
        	#{crud.custom 'status'}
        		#{if object.status == true}
        		是
        		#{/if}
        		#{else}
        		否
        		#{/else}
        	#{/crud.custom}
        	#{crud.custom 'isAdmin'}
        		#{if object.isAdmin == true}
        		是
        		#{/if}
        		#{else}
        		否
        		#{/else}
        	#{/crud.custom}
        #{/crud.table}
        </div>
        #{crud.pagination /}
    </div>
</div>
