#{form class:'search pull-right',style:'margin-bottom: 0px;', action:@list().remove('page'), method:'GET'}
<div class='search-wrapper'>
    #{if _fields}
        <input type="hidden" name="searchFields" value="${_fields.toString().substring(1, _fields.toString().length()-1).replace(',', '')}" />
    #{/if}
    <input type="text" name="search" class="search-query" value="${params.search?.escape()?.raw()}" /> 
    <button class="btn btn-link icon-search" name="button" type="submit"></button>
    #{if _caller.params.search}
        (<a href="@{list()}">&{'crud.list.totalSize', _caller.totalCount}</a>)
    #{/if}
</div>
#{/form}
