#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div class='row-fluid'>
    <div class='span12 box bordered-box purple-border' style='margin-bottom:0;'>
        <div class='box-header sea-blue-background'>
            <div class='title'>&{'user.list'}</div>
            #{crud.search /}
        </div>
        <div class='box-content box-no-padding'>
        #{crud.table fields:type.fields.name}
        #{/crud.table}
        </div>
        #{crud.pagination /}
    </div>
</div>

